*.class
*.log
*.cache
ImplicitObj/idea
CallByName/.idea
LazyVal/.idea
*.swp

# sbt specific
ImplicitObj/.cache/
ImplicitObj/.history/
ImplicitObj/.lib/
ImplicitObj/dist/*
ImplicitObj/target/
ImplicitObj/lib_managed/
ImplicitObj/src_managed/
ImplicitObj/project/boot/
ImplicitObj/project/plugins/project/
ImplicitObj/.scala_dependencies
ImplicitObj/.worksheet
ImplicitObj/.idea
CallByName/.cache/
CallByName/.history/
CallByName/.lib/
CallByName/dist/*
CallByName/target/
CallByName/lib_managed/
CallByName/src_managed/
CallByName/project/boot/
CallByName/project/plugins/project/
CallByName/.scala_dependencies
CallByName/.worksheet
CallByName/.idea
LazyVal/.cache/
LazyVal/.history/
LazyVal/.lib/
LazyVal/dist/*
LazyVal/target/
LazyVal/lib_managed/
LazyVal/src_managed/
LazyVal/project/boot/
LazyVal/project/plugins/project/
LazyVal/.scala_dependencies
LazyVal/.worksheet
LazyVal/.idea
